<div id="map"></div>
<div id="table" class="fixed-bottom mb-4 ms-2 me-2">
    <div class="card">
        <div class="card-body pb-2 pt-2">
            <div class="tableFixHead"> 
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">#</th>
                            <th class="text-center" scope="col">Name</th>
                            <th class="text-center" scope="col">Northing</th>
                            <th class="text-center" scope="col">Easting</th>
                            <th class="text-center" scope="col">Longitude</th>
                            <th class="text-center" scope="col">Latitude</th>
                            <th class="text-center" scope="col">Elevation (ft) </th>
                            <th class="text-center" scope="col">Elevation (m) </th>
                            <th class="text-center" scope="col">Horizontal Datum</th>
                            <th class="text-center" scope="col">DEM Source</th>
                            <th class="text-center" scope="col">DEM Resolution (m)</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody" class="overflow-scroll">
                        <tr>
                            <td colspan="11">No features</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="module" src="javascripts/index.js"></script>