<!doctype html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>XYZ Tool 2</title>
	<link rel="stylesheet" href="https://js.arcgis.com/4.14/esri/css/main.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<script type="text/javascript" src="javascripts/jszip.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/@tmcw/togeojson@latest"></script>
	<script type="text/javascript" src="javascripts/wkid.js"></script>
	<script type="text/javascript" src="javascripts/kmlReader.js"></script>
</head>

<body>
{{{body}}}
<script type="text/javascript" src="https://js.arcgis.com/4.14/"></script>
<script type="text/javascript" src="javascripts/index.js"></script>
</body>

</html>
