html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#map {
	height: 100%;
}

.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}

.upload {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

#viewDiv {
	padding: 0;
	margin: 0;
	height: 69%;
	width: 100%;
}

#tableBody {
	max-height: 300px !important;
	overflow-y: auto;
}

.tableFixHead { 
	overflow: auto;
	height: 100px;
	height: 300px;
}

.tableFixHead thead th {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: white;
}